.ListItems {
  padding: 0;
}

.ListItems__itemContainer {
  background-color: linen;
  border: 1px solid blueviolet;
  border-radius: 6px;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 8px;
  max-width: 725px;
  min-height: 10px;
  padding: 10px 5px 5px 10px;
  position: relative;
  transition: transform 0.2s ease-out 0.4s;
  @media screen and (max-width: 400px) {
    max-width: 300px;
  }
}

.ListItems__itemContainer:hover {
  background-color: lightgreen;
  @media screen and (min-width: 900px) {
    transform: scale(1.2);
  }
}

.ListItems__link {
  color: darkred;
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.ListItems__title {
  align-self: flex-start;
  font-weight: bold;
  text-align: left;
}

.ListItems__domain {
  font-size: 12px;
}

.ListItems__info {
  align-self: flex-end;
  color: black;
  font-size: 12px;
  position: absolute;
  right: 5px;
  text-align: right;

  @media screen and (max-width: 400px) {
    position: relative;
  }
}

.ListItems__author {
  font-weight: bold;
}
