.Action {
  align-items: center;
  background-color: #0b0b0b;
  border-bottom: 2px solid #611919;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: center;
  padding: 10px;
  min-width: 80px;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out 0.2s;
}

.Action__pressed,
.Action:hover {
  background-color: #7c1e1e !important;
  border-bottom-color: #7c1e1e;
  font-size: 20px;
  transition: none;
}

.Action:hover {
  transition: all 0.4s ease-in-out 0.2s;
}
