.App {
  align-items: center;
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.App .pagination {
  list-style: none;
  display: flex;
  border: 1px solid black;
  padding: 0;

  li {
    width: 20px;
    height: 20px;
    border-right: 1px solid green;
    background-color: burlywood;

    &.active,
    &:hover {
      background-color: white;
    }
  }
}

.App__link {
  color: #09d3ac;
}
