.ActionMenu {
  display: flex;
  height: 0;
  position: absolute;
  top: 0;
  z-index: 150;
}

.ActionMenu__closeIcon {
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  background-color: darkred;
  -webkit-mask: url(../../images/icon-close.svg) no-repeat center;
  mask: url(../../images/icon-close.svg) no-repeat center;

  &:hover {
    filter: brightness(1.5);
  }
}
